*{
    margin: 0;
    padding: 0;
    font-family: Arial;
}
@media screen and (min-width:501px){
    .container03{
        margin-top: 60px;
        background-color: #D9D9D9;
        height: 1000px; 
    }
    .categoria h2{
        color: rgba(73,28,206,1);
    }
    .tipo h4{
        color: rgb(155,6,168);
    }
    .plans{
        margin: 40px;
        background-color: #ebebeb;
        border-radius: 20px;
        height: 600px;
        width: 260px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .allplans{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .tipo{
        margin: 20px;
        min-height: 130px;
        border-bottom: 1px solid rgb(204, 204, 204);;
    }
    .tipo h3{
        color: #000;
        font-size: 25px;
    }
    .tipo h4{
        padding-top: 10px;
    }
    .tipo h5{
        padding-top: 7px;
    }
    
    .plans ul{
        padding-left: 60px;
        flex: 1;
    }
    .start{
        color: #FFF;
        background-color: rgba(73,28,206,1);
        text-align: center;
        border-radius: 50px;
        width: 150px;
        padding: 10px;
        margin-bottom: 20px;
    }
    .start a{
        color: #fff;
        text-decoration: none;
    }
    .infos{
        font-size: 12px;
    }
    .rodape{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width:500px){
    .container03{
        background-color: #D9D9D9;
        padding: 20px 0;
        justify-content: space-between;
        margin-top: 30px;
    }
    .plans{
        margin: 50px;
        background-color: #ebebeb;
        border-radius: 20px;
        height: 50%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .tipo{
        margin: 20px;
        min-height: 10px;
        border-bottom: 1px solid rgb(204, 204, 204);;
    }
    .tipo h3{
        color: #000;
        font-size: 15px;
    }
    .tipo h2{
        color: #fff;

        padding: 3px;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 5px;
        background-color: rgba(73,28,206,1);
        font-size: 11px;
        width: max-content;
        margin-left: 10px;
    
    }
    .categoria{
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .tipo h4{
        padding-top: 10px;
        font-size: 15px;

    }
    .tipo h5{
        padding-top: 7px;
        font-size: 10px;
    }
    .plans ul{
        padding-left: 20px;
        flex: 1;
        font-size: 15px;
        margin-bottom: 20px;
        /* padding-top: 60px; */
    }
    .plans ul li{
        line-height: 22px;
    }
    .start{
        color: #FFF;
        background-color: rgba(73,28,206,1);
        text-align: center;
        border-radius: 50px;
        width:90%;
        padding: 10px;
    }
    .start a{
        color: #fff;
        text-decoration: none;
    }
    .infos{
        font-size: 8px;
        padding-top: 10px;
        text-align: center;width: 70%;
    }
    .rodape{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .minitext{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        }
}
